.page-signature {
  .public-card__content {
    .signature-element {
      position: relative;

      .signature-erase {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
      }
      .canvas-container {
        width: 100%;
        height: 220px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 6px;

        img {
          width: 100%;
        }
      }
    }
  }
}
