parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between ''public_specimen/'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: admin/documents.php

		-
			message: '#^Binary operation "\." between ''  \<p style\="margin…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: admin/mediastest.php

		-
			message: '#^Binary operation "\." between ''\<div class\="linked…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: admin/mediastest.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: admin/mediastest.php

		-
			message: '#^Binary operation "/" between mixed and 1024 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: admin/mediastest.php

		-
			message: '#^Call to an undefined method DoliDB\:\:close\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: admin/mediastest.php

		-
			message: '#^Cannot access offset ''error'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: admin/mediastest.php

		-
			message: '#^Cannot access offset ''tmp_name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: admin/mediastest.php

		-
			message: '#^Parameter \#2 \$notrigger of method SaturneObject\:\:create\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: admin/redirection.php

		-
			message: '#^Parameter \#2 \$notrigger of method SaturneObject\:\:delete\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: admin/redirection.php

		-
			message: '#^Binary operation "\." between ''    \<form method\=…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: admin/tools.php

		-
			message: '#^Binary operation "\." between ''  \<form method\=…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: admin/tools.php

		-
			message: '#^Binary operation "\." between ''\<a href\="//admin…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: admin/tools.php

		-
			message: '#^Cannot access property \$adminpage on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/tools.php

		-
			message: '#^Cannot access property \$read on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/tools.php

		-
			message: '#^Cannot access property \$rights on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/tools.php

		-
			message: '#^Cannot access property \$saturne on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: admin/tools.php

		-
			message: '#^Cannot call method close\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: admin/tools.php

		-
			message: '#^Cannot call method trans\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: admin/tools.php

		-
			message: '#^Parameter \#2 \$notrigger of method SaturneObject\:\:update\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: class/actions_saturne.class.php

		-
			message: '#^Cannot access offset int on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: class/saturnecertificate.class.php

		-
			message: '#^Cannot access offset int on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: class/saturneelement.class.php

		-
			message: '#^Parameter \#2 \$notrigger of method SaturneObject\:\:update\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: class/saturneelement.class.php

		-
			message: '#^Property SaturneElement\:\:\$photo has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: class/saturneelement.class.php

		-
			message: '#^Binary operation "\." between ''Error '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:fetch_object\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: class/saturneobject.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:lasterror\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: class/saturneobject.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:num_rows\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: class/saturneobject.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:query\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$datec on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$datem on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$fk_source on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$fk_target on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$fk_user_creat on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$fk_user_modif on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$rowid on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Cannot access property \$sourcetype on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Parameter \#1 \$status of method SaturneObject\:\:LibStatut\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: class/saturneobject.class.php

		-
			message: '#^Binary operation "\." between ''Error '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: class/saturnesignature.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:fetch_object\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: class/saturnesignature.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:lasterror\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: class/saturnesignature.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:num_rows\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: class/saturnesignature.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:query\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: class/saturnesignature.class.php

		-
			message: '#^Cannot access offset int on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: class/saturnesignature.class.php

		-
			message: '#^Access to an undefined property SaturneTask\:\:\$picto\.$#'
			identifier: property.notFound
			count: 2
			path: class/task/saturnetask.class.php

		-
			message: '#^Binary operation "\." between ''Error '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:fetch_object\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:lasterror\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:num_rows\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Call to an undefined method DoliDB\:\:query\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$element_date on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$element_date_withhour on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$element_datehour on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$element_duration on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$fk_user on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$note on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$project_id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$project_label on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$project_ref on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$rowid on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$socid on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$task_label on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$task_ref on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$thirdparty_email on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$thirdparty_name on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Cannot access property \$thm on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Parameter \#3 \$mode \(string\) of method SaturneTask\:\:getNomUrl\(\) should be compatible with parameter \$notooltip \(int\) of method CommonObject\:\:getNomUrl\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Parameter \#4 \$addlabel \(int\) of method SaturneTask\:\:getNomUrl\(\) should be compatible with parameter \$morecss \(string\) of method CommonObject\:\:getNomUrl\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Parameter \#5 \$sep \(string\) of method SaturneTask\:\:getNomUrl\(\) should be compatible with parameter \$save_lastsearch_value \(int\) of method CommonObject\:\:getNomUrl\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: class/task/saturnetask.class.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: core/modules/saturne/modules_saturne.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: core/substitutions/functions_saturne.lib.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Binary operation "\." between '' AND t\.'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 5
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Binary operation "\." between '' LEFT JOIN '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Binary operation "\." between ''\\'''' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Binary operation "\." between ''lnk_'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Binary operation "\." between ''t\.'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot access offset ''checked'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot access offset ''searchall'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot access offset non\-falsy\-string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot access property \$fields on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot call method escape\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 7
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot call method prefix\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 9
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Variable \$object might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/tpl/list/objectfields_list_build_sql_select.tpl.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 3
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between ''&search_'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between ''\<div class\="saturne…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between ''\<input type\="hidden…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between ''\<input type\="text"…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between ''\<span id\="search…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between ''search_'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 9
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between ''t\.'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between mixed and ''_dtend'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between mixed and ''_dtstart'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 5
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\.\=" between '''' and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Binary operation "\.\=" between non\-falsy\-string and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 3
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Call to an undefined method FormCategory\:\:select_all_categories\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''arrayofkeyval'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''checked'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''color'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''disablesearch'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''fulllabel'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''label'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''searchmulti'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset ''visible'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 7
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access offset non\-falsy\-string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 6
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access property \$element on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot access property \$fields on mixed\.$#'
			identifier: property.nonObject
			count: 5
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot call method load\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot call method multiselectarray\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot call method selectDate\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot call method select_duration\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot call method selectarray\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot call method showInputField\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot call method trans\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 13
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 5
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Variable \$form might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Variable \$langs might not be defined\.$#'
			identifier: variable.undefined
			count: 14
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Variable \$object might not be defined\.$#'
			identifier: variable.undefined
			count: 7
			path: core/tpl/list/objectfields_list_header.tpl.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: core/tpl/list/objectfields_list_loop_object.tpl.php

		-
			message: '#^Binary operation "\." between ''\<input type\="hidden…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Binary operation "\." between ''\<span id\="search…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Binary operation "\." between ''search_'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Binary operation "\." between mixed and ''_mode'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Cannot access offset ''label'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Cannot access offset non\-falsy\-string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Cannot call method trans\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Variable \$langs might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: core/tpl/list/objectfields_list_search_input.tpl.php

		-
			message: '#^Binary operation "\." between mixed and ''''\|''\<button type\=…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: core/tpl/list/objectfields_list_search_title.tpl.php

		-
			message: '#^Cannot call method trans\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 11
			path: core/tpl/medias/media_editor_modal.tpl.php

		-
			message: '#^Parameter \#1 \(mixed\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 11
			path: core/tpl/medias/media_editor_modal.tpl.php

		-
			message: '#^Variable \$langs might not be defined\.$#'
			identifier: variable.undefined
			count: 11
			path: core/tpl/medias/media_editor_modal.tpl.php

		-
			message: '#^Call to an undefined method DoliDB\:\:fetch_object\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/documents.lib.php

		-
			message: '#^Call to an undefined method DoliDB\:\:num_rows\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/documents.lib.php

		-
			message: '#^Call to an undefined method DoliDB\:\:query\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/documents.lib.php

		-
			message: '#^Cannot access property \$description on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/documents.lib.php

		-
			message: '#^Cannot access property \$doc_template_name on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/documents.lib.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/documents.lib.php

		-
			message: '#^Cannot access property \$label on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: lib/documents.lib.php

		-
			message: '#^Binary operation "\." between ''\<i class\="fas fa…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: lib/saturne.lib.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: lib/saturne.lib.php

		-
			message: '#^Cannot call method trans\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: lib/saturne.lib.php

		-
			message: '#^Binary operation "\." between mixed and ''/'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: lib/saturne_functions.lib.php

		-
			message: '#^Binary operation "\." between mixed and ''/css/'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: lib/saturne_functions.lib.php

		-
			message: '#^Binary operation "\." between mixed and ''/js/'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: lib/saturne_functions.lib.php

		-
			message: '#^Parameter \#1 \$array of function array_unique expects an array of values castable to string, array given\.$#'
			identifier: argument.type
			count: 2
			path: lib/saturne_functions.lib.php

		-
			message: '#^Variable \$arrayofcss on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: lib/saturne_functions.lib.php

		-
			message: '#^Variable \$arrayofjs on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: lib/saturne_functions.lib.php

		-
			message: '#^Parameter \#2 \$notrigger of method SaturneObject\:\:update\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 4
			path: view/saturne_attendants.php
