.pictoModule {
  vertical-align: middle;
  text-align: left;
  width: 20px;
  padding-right: 4px;
}

$menu-styles: (
  digiriskdolibarr: (
    filter: none,
  ),
  digiquali: (
    filter: none,
  )
);

@each $menu, $styles in $menu-styles {
  div.mainmenu.#{$menu} {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }
}
